.button {
  display: inline-block;
  font-family: @oswald;
  font-size: 14px;
  line-height: 18px;
  color: @white;
  background-color: @basic-green;
  text-transform: uppercase;
  text-align: center;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: @basic-green-hover;
  }

  &:active {
    color: rgba(@white, 0.3);
  }

  &:focus {
    border-radius: 3px;
    outline: 2px solid @basic-green-hover;
    outline-offset: 3px;
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }

  &:focus-visible {
    border-radius: 3px;
    outline: 2px solid @basic-green-hover;
    outline-offset: 3px;
  }

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }

  &--secondary {
    padding: 10px;
    line-height: 20px;
    color: @grey;
    background-color: @basic-grey;

    &:hover {
      background-color: @basic-grey-hover;
    }

    &:active {
      color: rgba(@grey, 0.3);
    }
  }
}
