.card {
  padding: 19px 0 25px 0;
}

.card__title {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: @catalog-grey;
}

.card__info-row {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: @grey;
}
