.card {
  min-height: 209px;
  padding: 19px 0 25px 0;
  // border-bottom: 1px solid @border-grey;

  @media (min-width: @tablet-width) {
    min-width: 324px;
    min-height: 430px;
  }

  @media (min-width: @desktop-width) {
    min-width: 245px;
  }
}

.card__title {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: @catalog-grey;
}

.card__info-row {
  font-family: @arial;
  font-size: 12px;
  line-height: 16px;
  color: @grey;
}

.card__link-button {
  width: 100%;
  font-size: 16px;
  line-height: 20px;
}
