.case {
  background-color: @bg-case-grey;

  @media (min-width: @tablet-width) {
    background: linear-gradient(to bottom, transparent 619px, @bg-case-grey 619px);
  }

  @media (min-width: @desktop-width) {
    background: linear-gradient(to bottom, transparent 178px, @bg-case-grey 178px);
  }
}

.case__container {
  padding: 25px 20px 40px 20px;

  @media (min-width: @tablet-width) {
    padding: 43px 30px 59px 30px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
    padding: 0 110px 68px 110px;
  }
}

.case__info-container {
  @media (min-width: @desktop-width) {
    width: 436px;
  }
}

.case__title {
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;

  @media (min-width: @tablet-width) {
    margin-bottom: 63px;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 42px;
    margin-bottom: 146px;
  }
}

.case__text {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  font-family: @arial;
  font-size: 14px;
  line-height: 18px;
  color: @grey;

  @media (min-width: @tablet-width) {
    margin-bottom: 54px;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 68px;
  }
}

.case__statistics-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 45px;
  }

  @media (min-width: @desktop-width) {
    flex-direction: column;
    align-items: start;
    margin-bottom: 0;
  }
}

.case__list {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  list-style-type: none;

  @media (min-width: @tablet-width) {
    width: 366px;
  }
}

.case__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 124px;
  min-height: 56px;
  margin-bottom: 34px;
  padding-top: 14px;
  text-align: center;
  border: 1px solid @border-hover;
  border-radius: 3px;

  @media (min-width: @tablet-width) {
    min-width: 162px;
    min-height: 72px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 60px;
  }
}

.case__quantity {
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  color: @black;

  @media (min-width: @tablet-width) {
    margin-bottom: 11px;
    font-size: 30px;
    line-height: 37px;
  }
}

.case__value {
  position: absolute;
  top: 44px;
  margin: 0;
  padding: 0 5px;
  font-family: @arial;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  text-transform: lowercase;
  color: @grey;
  background-color: @bg-case-grey;

  @media (max-width: @mobile-width-only) {
    width: 87px;
  }

  @media (min-width: @tablet-width) {
    top: 62px;
    max-width: 160px;
    padding: 0 8px;
    font-size: 14px;
    line-height: 14px;
    background-color: @white;
  }

  @media (min-width: @desktop-width) {
    background-color: @bg-case-grey;
  }
}

.case__total {
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    max-width: 180px;
    font-size: 20px;
    line-height: 20px;
    text-align: right;

    span {
      display: inline-block;
      margin-top: 9px;
    }
  }

  @media (min-width: @desktop-width) {
    max-width: none;
    margin: 0;

    span {
      margin-top: 0;
      margin-left: 59px;
    }
  }
}
