.case {
  background-color: @bg-case-grey;

  @media (min-width: @tablet-width) {
    background: linear-gradient(to bottom, transparent 58%, @bg-case-grey 58%);
  }

  @media (min-width: @desktop-width) {
    background: linear-gradient(to bottom, transparent 28%, @bg-case-grey 28%);
  }
}

.case__container {
  padding: 25px 20px 40px 20px;

  @media (min-width: @tablet-width) {
    padding: 43px 30px 56px 30px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    padding: 0 110px 60px 110px;
  }
}

.case__title {
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;

  @media (min-width: @tablet-width) {
    margin-bottom: 63px;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 146px;
  }
}

.case__text {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  font-family: @arial;
  font-size: 14px;
  line-height: 18px;
  color: @grey;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 69px;
  }
}

.case__statistics-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    flex-direction: column;
    align-items: start;
  }
}

.case__list {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  list-style-type: none;

  @media (min-width: @tablet-width) {
    width: 50%;
  }
}

.case__item {
  margin-bottom: 20px;
}

.case__quantity {
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  color: @black;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.case__value {
  margin: 0;
  padding: 0;
  font-family: @arial;
  font-size: 12px;
  line-height: 12px;
  text-transform: lowercase;
  color: @grey;

  @media (min-width: @tablet-width) {
    font-size: 14px;
    line-height: 14px;
  }
}

.case__total {
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    max-width: 180px;
    font-size: 20px;
    line-height: 20px;
    text-align: right;

    span {
      display: inline-block;
      margin-top: 9px;
    }
  }

  @media (min-width: @desktop-width) {
    max-width: none;

    span {
      margin-top: 0;
      margin-left: 63px;
    }
  }
}
