.feautures__container {
  padding: 0 20px 49px 20px;

  @media (min-width: @tablet-width) {
    padding: 0 30px 47px 30px;
    border-bottom: 1px solid @menu-stroke-grey;
  }

  @media (min-width: @desktop-width) {
    padding: 0 110px 26px 110px;
    border-bottom: none;
  }
}

.feautures__title {
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;

  @media (min-width: @tablet-width) {
    margin-bottom: 32px;
    font-size: 60px;
    line-height: 60px;
  }
}

.feautures__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  counter-reset: item;

  @media (min-width: @tablet-width) {
    display: grid;
    padding-right: 79px;
    grid-template-columns: 1fr 1fr;
    column-gap: 130px;
    row-gap: 37px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 80px;
    padding-right: 0;
  }
}

.feautures__item {
  position: relative;
  width: 100%;
  min-height: 60px;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  padding-left: 80px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (max-width: @mobile-width-only) {
    br {
      display: none;
    }
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
    padding-top: 151px;
    padding-left: 0;
    // max-width: 250px;
    min-height: 280px;

    &::after {
      content: counter(item);
      counter-increment: item;
      position: absolute;
      top: 0;
      left: 118px;
      font-size: 280px;
      line-height: 280px;
      color: @basic-grey;
      z-index: -1;
    }
  }

  @media (min-width: @desktop-width) {
    width: 100%;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    width: 60px;
    height: 60px;
    background-color: @basic-green;
    background-repeat: no-repeat;
    background-position: center;

    @media (min-width: @tablet-width) {
      top: 40px;
      width: 80px;
      height: 80px;
    }
  }

  &--leaf {
    &::before {
      background-image: url(../../img/icons/icon_leaf.svg);
      background-size: 30px 32px;
    }
  }

  &--tub {
    &::before {
      background-image: url(../../img/icons/icon_tub.svg);
      background-size: 29px 31px;
    }
  }

  &--eat {
    &::before {
      background-image: url(../../img/icons/icon_eat.svg);
      background-size: 25px 30px;
    }
  }

  &--alarm {
    &::before {
      background-image: url(../../img/icons/icon_alarm.svg);
      background-size: 32px 33px;
    }
  }
}

.feautures__text {
  margin: 0;
  padding: 0;
  font-family: @arial;
  font-size: 14px;
  line-height: 18px;
  color: @grey;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}
