.feautures__container {
  padding: 0 20px 49px 20px;
}

.feautures__title {
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
}

.feautures__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.feautures__item {
  margin-bottom: 20px;
  padding-left: 80px;

  &:last-child {
    margin-bottom: 0;
  }
}

.feautures__text {
  margin: 0;
  padding: 0;
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: @grey;
}
