.form {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.form__fieldset {
  padding: 0;
  border: none;
}

.form__title {
  margin-bottom: 35px;
  font-size: 24px;
  line-height: 26px;
  color: @black;
  text-transform: none;
}

.form__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.form__item {
  margin-bottom: 13px;
  color: @grey;
}

.form__label-radio {
  color: @catalog-grey;
}

.form__label-checkbox {
  color: @black;
}

.form__input::placeholder,
.form__textarea::placeholder {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}
