.form {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.form__fieldset {
  margin: 0;
  padding: 0;
  border: none;

  &--cat-info {
    padding-bottom: 24px;

    @media (min-width: @tablet-width) {
      padding: 0 37px 71px 41px;
    }

    @media (min-width: @desktop-width) {
      padding: 0;
    }
  }

  &--program-target {
    position: relative;
    margin-bottom: 26px;
    padding-top: 30px;
    padding-bottom: 24px;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: -20px;
      right: -20px;
      height: 1px;
      background-color: @bg-stroke-grey;
    }

    &::after {
      top: auto;
      bottom: 0;
    }

    @media (min-width: @tablet-width) {
      margin: 0 37px 75px 41px;
      padding: 28px 27px;
      border: 1px solid @border-grey;

      &::before,
      &::after {
        display: none;
      }
    }

    @media (min-width: @desktop-width) {
      margin: 0;
    }
  }

  &--contacts-owner {
    // position: relative;
    padding-bottom: 24px;

    // &::after {
    //   content: "";
    //   position: absolute;
    //   top: -71px;
    //   right: -20px;
    //   left: 201px;
    //   height: 2px;
    //   background-color: @basic-green;
    // }

    @media (min-width: @tablet-width) {
      padding: 0 37px 65px 40px;

      // &::before {
      //   content: "";
      //   position: absolute;
      //   width: 30px;
      //   top: -91px;
      //   left: -30px;
      //   height: 2px;
      //   background-color: @basic-green;
      // }

      // &::after {
      //   top: -91px;
      //   right: -30px;
      //   left: 593px;
      // }
    }

    @media (min-width: @desktop-width) {
      padding: 0;
      padding-bottom: 48px;

      // &::before {
      //   width: 70px;
      //   left: -110px;
      // }

      // &::after {
      //   right: -110px;
      //   left: 552px;
      // }
    }
  }

  &--comment {
    // position: relative;
    padding-bottom: 23px;

    // &::after {
    //   content: "";
    //   position: absolute;
    //   top: -48px;
    //   right: -20px;
    //   left: 143px;
    //   height: 2px;
    //   background-color: @basic-green;
    // }

    @media (min-width: @tablet-width) {
      padding: 0 37px 59px 40px;

      // &::before {
      //   content: "";
      //   position: absolute;
      //   width: 30px;
      //   top: -91px;
      //   left: -30px;
      //   height: 2px;
      //   background-color: @basic-green;
      // }

      // &::after {
      //   top: -91px;
      //   right: -30px;
      //   left: 259px;
      // }
    }

    @media (min-width: @desktop-width) {
      padding: 0;
      padding-bottom: 60px;

      // &::before {
      //   width: 70px;
      //   left: -110px;
      // }

      // &::after {
      //   right: -110px;
      //   left: 222px;
      // }
    }
  }

  &--additionally {
    // position: relative;
    padding-bottom: 39px;

    // &::after {
    //   content: "";
    //   position: absolute;
    //   top: -47px;
    //   right: -20px;
    //   left: 164px;
    //   height: 2px;
    //   background-color: @basic-green;
    // }

    @media (min-width: @tablet-width) {
      padding-bottom: 59px;
      padding-left: 40px;

      // &::before {
      //   content: "";
      //   position: absolute;
      //   width: 30px;
      //   top: -76px;
      //   left: -30px;
      //   height: 2px;
      //   background-color: @basic-green;
      // }

      // &::after {
      //   top: -76px;
      //   right: -30px;
      //   left: 292px;
      // }
    }

    @media (min-width: @desktop-width) {
      padding: 0;
      padding-bottom: 66px;

      // &::before {
      //   width: 70px;
      //   top: -72px;
      //   left: -110px;
      // }

      // &::after {
      //   top: -72px;
      //   right: -110px;
      //   left: 252px;
      // }
    }
  }
}

.form__title {
  margin: 0;
  padding: 0;
  margin-bottom: 35px;
  font-size: 24px;
  line-height: 26px;
  color: @black;
  text-transform: none;
  align-self: flex-start;

  @media (min-width: @tablet-width) {
    margin-bottom: 77px;
    font-size: 36px;
    line-height: 36px;
  }

  &--comment {
    margin-bottom: 38px;

    @media (min-width: @tablet-width) {
      margin-bottom: 76px;
    }
  }

  &--additionally {
    margin-bottom: 38px;

    @media (min-width: @tablet-width) {
      margin-bottom: 60px;
    }
  }

  &--decor {
    display: block;
    position: relative;
    width: min-content;

    &::after {
      content: "";
      position: absolute;
      top: 15px;
      left: calc(100% + 20px);
      width: calc(100vw - 100% - 40px);
      height: 2px;
      background-color: @basic-green;
    }

    @media (min-width: @tablet-width) {
      width: fit-content;

      &::before {
        content: "";
        position: absolute;
        top: 20px;
        right: calc(100% + 40px);
        width: 100vw;
        height: 2px;
        background-color: @basic-green;
      }

      &::after {
        top: 20px;
        left: calc(100% + 40px);
        width: calc(100vw - 100% - 110px);
      }
    }

    @media (min-width: @desktop-width) {
      &::after {
        width: calc(100vw - 100% - 150px);
      }
    }
  }
}

.form__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  &--contacts-owner {
    @media (min-width: @desktop-width) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 78px;
    }
  }

  &--additionally {
    @media (min-width: @tablet-width) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 20px;
      row-gap: 42px;
    }

    @media (min-width: @desktop-width) {
      grid-template-columns: repeat(4, 1fr);
      column-gap: 80px;
    }
  }
}

.form__item {
  display: flex;
  align-items: baseline;
  margin: 0;
  padding: 0;
  margin-bottom: 13px;
  color: @grey;

  @media (min-width: @tablet-width) {
    margin-bottom: 20px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &--radio,
  &--checkbox {
    margin-bottom: 25px;

    @media (min-width: @tablet-width) {
      margin-bottom: 24px;
    }
  }

  &--checkbox {
    @media (min-width: @tablet-width) {
      margin-bottom: 0;
    }
  }
}

.form__label {
  margin-right: 12px;

  @media (min-width: @tablet-width) {
    margin-right: 14px;
  }
}

.form__label-radio {
  position: relative;
  padding-left: 46px;
  color: @catalog-grey;

  @media (min-width: @tablet-width) {
    padding-left: 60px;
  }
}

.form__control-mark {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  border: 1px solid @border-hover;

  @media (min-width: @tablet-width) {
    width: 40px;
    height: 40px;
  }
}

.form__input-radio + .form__control-mark {
  border-radius: 50%;
}

.form__label-radio:hover .form__control-mark,
.form__label-checkbox:hover .form__control-mark {
  border-color: @control-mark-hover;
}

.form__input-radio:disabled ~ span {
  opacity: 0.3;
}

.form__input-checkbox:disabled ~ span {
  opacity: 0.3;
}
//вот так можно disabled прописать? а то я сначала городила какие-то странные
//конструкции из соседних селекторов))

.form__input-radio:checked + .form__control-mark::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 14px;
  height: 14px;
  background-color: @basic-green;
  border-radius: 50%;

  @media (min-width: @tablet-width) {
    width: 18px;
    height: 18px;
  }
}

.form__input-checkbox:checked + .form__control-mark::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 26px;
  height: 26px;
  background-image: url("../img/icons/icon_check.svg");
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: @tablet-width) {
    background-image: url("../img/icons/icon_check-large.svg");
  }
}

.form__label-checkbox {
  position: relative;
  padding-left: 46px;
  color: @black;

  @media (min-width: @tablet-width) {
    padding-left: 60px;
  }
}

.form__input,
.form__textarea {
  border: 1px solid @border-grey;

  &::placeholder {
    font-family: @oswald;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: @grey;

    @media (min-width: @tablet-width) {
      font-size: 20px;
      line-height: 30px;
    }
  }
}

.form__input {
  width: 100%;
  height: 45px;
  padding: 14px 15px;
  padding-right: 37px;
  flex-grow: 1;
  font-family: @oswald;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @grey;

  @media (min-width: @tablet-width) {
    height: 52px;
    padding: 10px 20px;
    font-size: 20px;
    line-height: 30px;
  }

  &:hover {
    border-color: @border-hover;
  }

  &:focus {
    outline: none;
    border: 2px solid @grey;
  }

  &--error {
    border: 2px solid @status-error;
  }
}

.form__textarea {
  width: 100%;
  min-height: 150px;
  padding: 9px 12px;
  font-family: @oswald;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @grey;
  resize: none;

  @media (min-width: @tablet-width) {
    min-height: 174px;
    padding: 9px 18px;
    font-size: 20px;
    line-height: 30px;
  }

  &:hover {
    border-color: @border-hover;
  }

  &:focus {
    outline: none;
    border: 2px solid @grey;
  }

  &--error {
    border: 2px solid @status-error;
  }
}

.form__button-container {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 282px 1fr;
    column-gap: 61px;
    padding-left: 41px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 568px 1fr;
    grid-template-rows: min-content;
    padding: 0;
    column-gap: 81px;
  }
}

.form__button {
  width: 100%;
  margin-bottom: 21px;
  padding: 10px;
  font-size: 16px;
  line-height: 20px;

  @media (min-width: @tablet-width) {
    margin: 0;
    padding: 16px;
    font-size: 20px;
  }
}

.form__legend {
  margin: 0;
  padding: 0;
  font-family: @arial;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-transform: none;

  @media (min-width: @tablet-width) {
    margin-top: 15px;
    font-size: 16px;
    text-align: left;
  }

  @media (min-width: @desktop-width) {
    margin-top: 17px;
  }
}
