.program-selection__container {
  padding: 27px 20px 32px 20px;
  border-top: 1px solid @bg-stroke-grey;

  @media (min-width: @tablet-width) {
    padding: 60px 30px 72px 30px;
    border: none;
  }

  @media (min-width: @desktop-width) {
    padding: 70px 110px 82px 110px;
  }
}

.program-selection__title {
  margin: 0;
  padding: 0;
  margin-bottom: 37px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;

  @media (min-width: @tablet-width) {
    margin-left: 39px;
    margin-bottom: 54px;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 0;
  }
}

.program-selection__text {
  margin-bottom: 39px;
  font-size: 14px;
  line-height: 18px;
  color: @black;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    margin-bottom: 67px;
    margin-left: 40px;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 0;
  }
}

.program-selection__desktop-container {
  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
    padding-bottom: 69px;
  }
}
