.promo {
  position: relative;
  margin-bottom: 20px;
  color: @white;
  // background: linear-gradient(to bottom, rgba(@basic-green, 0.85) 302px, transparent 302px), url("../img/index-background-cat.jpg") no-repeat, linear-gradient(to bottom, #504f54 302px, transparent 302px);
  // background-repeat: no-repeat;
  // background-position: center top;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
    color: @black;
    background-color: @white;
    background-image: none;
  }

  // @media (min-width: @desktop-width) {
  //   background: linear-gradient(to left, rgba(@basic-green, 0.85) 50%, transparent 50%), url("../img/index-background-desktop.jpg") no-repeat, linear-gradient(to left, #504f54 50%, transparent 50%);
  //   background-repeat: no-repeat;
  //   background-position: right top;
  // }

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 302px;
    background: linear-gradient(rgba(@basic-green, 0.85), rgba(@basic-green, 0.85)), url("../img/index-background-cat.jpg") no-repeat;
    background-color: #504f54;
    background-position: center;
    background-size: cover;
    z-index: -1;

    @media (min-resolution: 2dppx) {
      background: linear-gradient(rgba(@basic-green, 0.85), rgba(@basic-green, 0.85)), url("../img/index-background-cat@2x.jpg") no-repeat;
      background-size: 320px auto;
    }

    @media (min-width: @tablet-width) {
      display: none;
    }

    @media (min-width: @desktop-width) {
      display: block;
      top: -165px;
      right: 0;
      width: 50%;
      min-height: 694px;
      background: linear-gradient(rgba(@basic-green, 0.85), rgba(@basic-green, 0.85)), url("../img/index-background-desktop.jpg") no-repeat;
      background-size: cover;
      z-index: 0;

      @media (min-resolution: 2dppx) {
        background: linear-gradient(rgba(@basic-green, 0.85), rgba(@basic-green, 0.85)), url("../img/index-background-desktop@2x.jpg") no-repeat;
        background-size: 720px auto;
      }
    }
  }
}

.promo__container {
  display: flex;
  flex-direction: column;
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    position: relative;
    min-height: 869px;
    padding: 0 30px;
  }

  @media (min-width: @desktop-width) {
    min-height: 611px;
    padding: 0 110px;
  }
}

.promo__title {
  margin: 0;
  padding: 0;
  margin-top: 27px;
  margin-bottom: 25px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;

  @media (min-width: @tablet-width) {
    margin-top: 60px;
    margin-bottom: 41px;
    margin-left: 87px;
    width: 414px;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
  }

  @media (min-width: @desktop-width) {
    margin-top: 58px;
    margin-left: 80px;
  }
}

.promo__text {
  margin: 0;
  padding: 0;
  margin-bottom: 29px;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: @tablet-width) {
    margin-bottom: 49px;
    margin-left: 89px;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 51px;
    margin-left: 80px;
  }
}

.promo__image {
  display: block;
  margin-bottom: 3px;

  @media (min-width: @tablet-width) {
    position: absolute;
    top: 260px;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    min-width: 709px;
    min-height: 609px;
  }

  @media (min-width: @desktop-width) {
    top: -24px;
    left: calc(50% + 114px);
    min-width: 552px;
    min-height: 499px;
  }
}

.promo__link-button {
  width: 100%;
  padding: 11px;

  @media (min-width: @tablet-width) {
    z-index: 1;
    width: 244px;
    min-height: 54px;
    margin-left: 91px;
    padding: 14px 26px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 80px;
  }
}
