.slider {
  display: flex;
  flex-direction: column;
  padding: 0 58px;
  align-items: center;
}

.slider__images {
  // display: flex;
  position: relative;
  width: 280px;
  min-height: 232px;
  margin-bottom: 15px;
  overflow: hidden;

  @media (min-width: @tablet-width) {
    width: 582px;
    min-height: 511px;
    margin-bottom: 25px;
  }
}

.slider__item {
  min-width: 280px;

  @media (min-width: @tablet-width) {
    position: absolute;
    left: 0;
    width: 50%;
    // height: 511px;
    overflow: hidden;
  }

  &--after {
    display: none;

    @media (min-width: @tablet-width) {
      display: block;
      right: 0;
      left: auto;
    }
  }
}

.slider__image {
  display: block;
  margin: 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    // width: 582px;
    height: 511px;
    object-fit: cover;

    &--before {
      width: 677px;
      object-position: left;
    }

    &--after {
      width: 545px;
      object-position: right;
    }
  }
}

.slider__toggles {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider__toggle {
  padding: 0;
  font-family: @oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: transparent;
  border: none;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.24);
  }
}

.slider__scale {
  position: relative;
  margin: 8px 13px;
  width: 86px;
  height: 14px;
  background-color: @white;
  border: 1px solid @border-hover;
  border-radius: 6px;

  @media (min-width: @tablet-width) {
    width: 426px;
    height: 6px;
    background-color: @slider-grey;
    border: none;
  }
}

.slider__bar {
  position: absolute;
  top: 50%;
  left: 6px;
  transform: translateY(-50%);
  width: 36px;
  height: 6px;
  background-color: @basic-green;
  border-radius: 6px;

  @media (min-width: @tablet-width) {
    left: 50%;
    transform: translate(-50%, -50%);
    width: 34px;
    height: 34px;
    background-color: @white;
    border: 1px solid @border-hover;
    border-radius: 50%;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16);

    &::after {
      content: "";
      position: absolute;
      width: 8px;
      height: 8px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: @basic-green;
      border-radius: 50%;
      z-index: 1;
    }
  }
}
