@white: #ffffff;
@black: #000000;
@extra-black: #111111;
@grey: #444444;
@catalog-grey: #222222;

@grey-icons: #666666;
@icon-plus-grey: #d3d3d3;

@basic-green: #68b738;
@basic-grey: #f2f2f2;
@bg-case-grey: #eaeaea;
@bg-stroke-grey: #d9d9d9;
@menu-stroke-grey: #e6e6e6;
@slider-grey: #dcdcdc;

@border-grey: #e7e7e7;
@status-error: #ff8282;

@basic-green-hover: #5eaa2f;
@basic-grey-hover: #ebebeb;
@border-hover: #cdcdcd;
@control-mark-hover: #bababa;

@shadow-normal: 0 1px 3px 0 rgba(0, 0, 0, 0.16);
@shadow-hover: 0 2px 4px 0 rgba(0, 0, 0, 0.19);
@shadow-pressed: 0 3px 5px 0 rgba(0, 0, 0, 0.2);

@arial: "Arial", "Helvetica", sans-serif;
@oswald: "Oswald", "Arial", sans-serif;

@tablet-width: 768px;
@desktop-width: 1440px;
@mobile-width-only: 767px;
